<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create Genre</h1>

    <%= form_for(@genre) do |f| %>
      <label>Genre Name:</label><br>
      <%= f.text_field :name %><br>

      <%= f.submit %>
    <% end %>

  </body>
</html>