<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Artist</h1>

    <%= form_for(@artist) do |f| %>
      <label>Artist Name:</label><br>
      <%= f.text_field :name %><br>

      <label>Artist Bio:</label><br>
      <%= f.text_area :bio %><br>

      <%= f.submit %>
    <% end %>

  </body>
</html>